.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.table {
    border-collapse: collapse;
    border-style: hidden;
}

.cell {
    border: 5px solid #17499f;
    height: 10rem;
    width: 10rem;
    font-size: 5rem;
    color: #17499f;
    text-align: center;
    cursor: not-allowed;
    transition: background-color 0.2s ease-in-out;
}

.cellEnabled:hover {
    background-color: #17499f4a;
    cursor: pointer;
}
